header{
    position: fixed;
    width: 100%;
}
.custom-navbar{
width: 100%;
height: 60px;

}
.logo{
    height: 80px;
}
#Accueil{
    height: 790px;
    padding-top: 80px;

}
.man{
margin-top: 10px;

}
span{
    display: inline-block;
    animation-name: mbengue;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
   

}
@keyframes mbengue{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }

}
#Apropos{
    height: 730px;
    margin-top: 0px;
    padding-top: 170px;
}
.image{
    border: 2px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 500px;
    
   
}
.image img{
    height: 500px;
    width: 450px;
    
}
.propos{
    width: 400px;
}
#Experience{
    margin-top: 180px;
    padding-top: 100px;

} 

#Competence{
    height: 730px;
    padding-top: 200px;
}
#Realisation{
    height: 730px;
    padding-top: 100px;
}

.card-text {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .card-text {
    opacity: 1;
}
#contact{
    height: 600px;
    margin-top: 250px;
   
}
footer{
    margin-top: 20px;
}












#Experience{
    margin-top: 80px;
    padding-top: 100px;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: scroll;
    margin: 10px;
    width: 520px;
    height: 520px;
    transition: all 0.5s ease-in-out !important;
    
}
.image-container:hover .overlay {
    transform: translate(0, -100%);
    opacity: 1 !important;
}
.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    transition: all 0.5s ease-in-out;
    transform: translate(0, 0);
    opacity: 0 !important;
}